mixin Showcase
   
  +Section('container-fluid').py-0.overflow-hidden.bg-body(data-zanim-timeline!={delay: 0.4} data-zanim-trigger="scroll")
    .devices-wrapper
      .macbook-1(data-zanim-xs!={delay: 0.5, animation: "slide-left", duration: 1.5})
        img.device(data-parallax data-rellax-speed=3, src=`${CWD}assets/img/showcase/macbook-1.jpg`, alt='')
      .ipad--l-1(data-zanim-xs!={delay: 0.5, animation: "slide-left", duration: 1.5})
        img.device(data-parallax data-rellax-speed=3.8, src=`${CWD}assets/img/showcase/ipad--l-1.jpg`, alt='')
      .iphone-1(data-zanim-xs!={delay: 0.4, animation: "slide-left", duration: 1.5})
        img.device(data-parallax data-rellax-speed=4.8, src=`${CWD}assets/img/showcase/iphone-1.jpg`, alt='')
      .ipad--l-2(data-zanim-xs!={delay: 0.3, animation: "slide-left", duration: 1.5})
        img.device(data-parallax data-rellax-speed=3.4, src=`${CWD}assets/img/showcase/ipad--l-2.jpg`, alt='')
      .iphone-2(data-zanim-xs!={delay: 0.2, animation: "slide-left", duration: 1.5})
        img.device(data-parallax data-rellax-speed=4, src=`${CWD}assets/img/showcase/iphone-2.jpg`, alt='')
      .macbook-2(data-zanim-xs!={delay: 0.4, animation: "slide-left", duration: 1.5})
        img.device(data-parallax data-rellax-speed=5, src=`${CWD}assets/img/showcase/macbook-2.jpg`, alt='')
      .ipad--l-3(data-zanim-xs!={delay: 0.5, animation: "slide-left", duration: 1.5})
        img.device(data-parallax data-rellax-speed=3.7, src=`${CWD}assets/img/showcase/ipad--l-3.jpg`, alt='')
      .ipad--p-1(data-zanim-xs!={delay: 0.5, animation: "slide-left", duration: 1.5})
        img.device(data-parallax data-rellax-speed=4.8, src=`${CWD}assets/img/showcase/ipad--p-1.jpg`, alt='')
      .iphone-3(data-zanim-xs!={delay: 0.3, animation: "slide-left", duration: 1.5})
        img.device(data-parallax data-rellax-speed=3, src=`${CWD}assets/img/showcase/iphone-3.jpg`, alt='')
      .iphone-4(data-zanim-xs!={delay: 0.2, animation: "slide-left", duration: 1.5})
        img.device(data-parallax data-rellax-speed=3, src=`${CWD}assets/img/showcase/iphone-2.jpg`, alt='')
      .iphone--l-1(data-zanim-xs!={delay: 0.5, animation: "slide-left", duration: 1.5})
        img.device(data-parallax data-rellax-speed=2, src=`${CWD}assets/img/showcase/iphone--l-1.jpg`, alt='')
      
    .row.py-8.min-vh-100.align-items-center
      .col-md-auto.px-md-4.ps-md-8
        h1.display-4.fs-7.fs-sm-5.fs-md-4
          span.overflow-hidden.d-inline-block
            span.d-inline-block(data-zanim-xs!={delay: 1}) Venez 
              span.font-base.fst-italic.fw-normal découvrir 
          br
          span.overflow-hidden.d-inline-block.pb-2
            span.d-inline-block(data-zanim-xs!={delay: 1.1}) la collection Design
        .overflow-hidden
          p.mt-3.mt-sm-4.font-secondary.lead(data-zanim-xs!={delay: 1.2}) Une sélection unique de meubles danois du milieu du siècle.
        .mt-3.mt-sm-5
          a(href='#Gallery' data-offset=60 data-zanim-xs!={delay: 1.3}).btn.btn-dark.btn-sm.me-2.my-2 Explorez les pièces.
          a(href='#Collection' target="_blank" data-zanim-xs!={delay: 1.3}).btn.btn-outline-dark.btn-sm.my-2 À propos de la collection. &xrarr;


  +Section.font-secondary.text-center.py-6.py-xl-9.bg-dark#Collection
    .row.justify-content-center
      .col-xl-9.col-lg-10
        .fs-7.text-body-tertiary 
          h3.d-inline-block.fw-bold.text-white Provenance 
          |  — Cette belle collection de meubles design scandinave des années 1950-1960 appartenait à l’ambassadeur du Danemark auprès de l'OTAN. Elle fut achetée par un diplomate anglais, William Newton, au début des années 1960, lorsque l'ambassadeur du Danemark rentra au Danemark. Les meubles furent hérités par la propriétaire actuelle, Mme Newton. Les designers furent identifiés par des spécialistes de Bruun Rasmussen Kunstauktioner, maison de ventes aux enchères à Copenhague.
        hr.hr-short.mt-6.opacity-1
        .fs-7.text-body-tertiary 
          h3.d-inline-block.fw-bold.text-white Arne Vodder
          |  — 6 chaises Ella et Meuble en teck pour tourne disque avec portes tambour, probablement Arne Vodder ‘OS 28’ 
        hr.hr-short.mt-6.opacity-1
        .fs-7.text-body-tertiary 
          h3.d-inline-block.fw-bold.text-white Arne Hovmand-Olsen
          |  — Sofa et 2 fauteuils Mod 27 'Flying wings'
        hr.hr-short.mt-6.opacity-1
        .fs-7.text-body-tertiary 
          h3.d-inline-block.fw-bold.text-white  Kai Kristiansen
          |  — 2 fauteuils 'Paper knife' et tabouret 
        hr.hr-short.mt-6.opacity-1
        .fs-7.text-body-tertiary 
          h3.d-inline-block.fw-bold.text-white Kurt Østervig
          |  — Table de repas en teck avec double rallonge style papillon
        hr.hr-short.mt-6.opacity-1
        .fs-7.text-body-tertiary 
          h3.d-inline-block.fw-bold.text-white Arne Wahl Iversen
          |  — Bureau en teck type secrétaire avec rabattant.   
        hr.hr-short.mt-6.opacity-1
        .fs-7.text-body-tertiary 
          h3.d-inline-block.fw-bold.text-white Mogens Lassen
          |  — la fameuse table basse ronde et pliante, 'Egyptienne' - Vendu 
        hr.hr-short.mt-6.opacity-1

  +Section.text-center#Gallery
    .row.justify-content-between
      mixin ZenFeature(img, title, des, link)
        a(href=link).div
          img(src=img alt="" data-zanim-xs!={delay: 0.1, animation: "zoom-in"}).rounded-4.img-fluid
          .overflow-hidden
            h4.mt-4(data-zanim-xs!={delay: 0.2})=title
          .overflow-hidden
            p(data-zanim-xs!={delay: 0.3})=des

      .col-lg-6.px-lg-6(data-zanim-timeline!={delay: 0.1} data-zanim-trigger="scroll")
        +ZenFeature(
          `${CWD}assets/img/scandi/lg-newton-1.jpg`,
          "Meuble pour musique 'OS 28'",
          "Arne Vodder",
          "meubles/meuble-pour-musique.html")
      .col-lg-6.px-lg-6.pt-6.pt-lg-0(data-zanim-timeline!={delay: 0.2} data-zanim-trigger="scroll")
        +ZenFeature(
          `${CWD}assets/img/scandi/lg-newton-32.jpg`,
          "'Flying wings' sofa et 2 fauteuils",
          "Kai Kristiansen.",
          "meubles/flying-wings-sofa.html")
      .col-lg-6.px-lg-6.pt-6(data-zanim-timeline!={delay: 0.3} data-zanim-trigger="scroll")
        +ZenFeature(
          `${CWD}assets/img/scandi/lg-newton-42.jpg`,
          "Fauteuils 'Paperknife' et Tabouret",
          "Kai Kristiansen.",
          "meubles/fauteuils-paperknife.html")
      .col-lg-6.px-lg-6.pt-6(data-zanim-timeline!={delay: 0.4} data-zanim-trigger="scroll")
        +ZenFeature(
          `${CWD}assets/img/scandi/lg-newton-28.jpg`,
          "Secrétaire en teck avec rabattant",
          "Peter Hdvit.",
          "meubles/secretaire.html")

      .col-lg-6.px-lg-6(data-zanim-timeline!={delay: 0.1} data-zanim-trigger="scroll")
        +ZenFeature(
          `${CWD}assets/img/scandi/lg-newton-22.jpg`,
          "Chaises Suédoise",
          "",
          "meubles/chaises-suedoise.html")
      .col-lg-6.px-lg-6.pt-6.pt-lg-0(data-zanim-timeline!={delay: 0.2} data-zanim-trigger="scroll")
        +ZenFeature(
          `${CWD}assets/img/scandi/lg-newton-56.jpg`,
          "Tables d'Appoint",
          "Kurt Østervig",
          "meubles/tables-appoint.html")
      .col-lg-6.px-lg-6.pt-6(data-zanim-timeline!={delay: 0.3} data-zanim-trigger="scroll")
        +ZenFeature(
          `${CWD}assets/img/scandi/lg-newton-70.jpg`,
          "Table Basse 'Surf'",
          "",
          "meubles/table-basse-surf.html")
      .col-lg-6.px-lg-6.pt-6(data-zanim-timeline!={delay: 0.4} data-zanim-trigger="scroll")
        +ZenFeature(
          `${CWD}assets/img/scandi/lg-newton-71.jpg`,
          "Table Basse Rectangulaire",
          "Kurt Østervig.",
          "meubles/table-basse-rectangulaire.html")

      .col-lg-6.px-lg-6(data-zanim-timeline!={delay: 0.1} data-zanim-trigger="scroll")
        +ZenFeature(
          `${CWD}assets/img/scandi/lg-newton-18.jpg`,
          "Secrétaire en Teck",
          "",
          "meubles/table-secretaire.html")
      .col-lg-6.px-lg-6.pt-6.pt-lg-0(data-zanim-timeline!={delay: 0.2} data-zanim-trigger="scroll")
        +ZenFeature(
          `${CWD}assets/img/scandi/lg-newton-77.jpg`,
          "TTable de Repas en Teck",
          "Kurt Østervig",
          "meubles/table-repas.html")
      .col-lg-6.px-lg-6.pt-6(data-zanim-timeline!={delay: 0.3} data-zanim-trigger="scroll")
        +ZenFeature(
          `${CWD}assets/img/scandi/lg-newton-55.jpg`,
          "Chaises Ella",
          "Arne Vodder",
          "meubles/chaises-ella.html")