mixin SingleProductDemo
  +Section.py-6#page-single-product
    .row
      .col-lg-8.pe-lg-6
        .row
          .col-12
            nav(aria-label="breadcrumb")
              ol.breadcrumb.font-secondary.py-2.my-1
                li.breadcrumb-item
                  a(href=`${CWD}index.html#Gallery`) Accueil
                li.breadcrumb-item.active(aria-current='page') chaises-suédoise

            h1.fs-6.mb-2 4 Chaises Suédoise
          .col-12.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-22.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-23.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-24.jpg` alt='').rounded.img-fluid
          .col-12.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-25.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-26.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-27.jpg` alt='').rounded.img-fluid
      .col-lg-4
        .sticky-top.py-6.py-lg-8
          h2.fw-normal €2800.00&nbsp;
          h6.mt-4 Detailles
          p.text-body-secondary Chaises de Salle à Manger en Teck Danois Suédoise, très raffiné - Ensemble de 4
          h6.mt-4 Etat
          p.text-body-secondary Bon
          h6.mt-4 Quantité
          p.text-body-secondary Ensemble de 4
          h6.mt-4 Contact
          a(mailto=`damianicely@gmail.com`).p.text-body-secondary damianicely@gmail.com
