mixin SingleProductDemo
  +Section.py-6#page-single-product
    .row
      .col-lg-8.pe-lg-6
        .row
          .col-12
            nav(aria-label="breadcrumb")
              ol.breadcrumb.font-secondary.py-2.my-1
                li.breadcrumb-item
                  a(href=`${CWD}index.html#Gallery`) Accueil
                li.breadcrumb-item.active(aria-current='page') meuble-pour-musique

            h1.fs-6.mb-2 Meuble pour musique "OS 28" - Designer Arne Vodder
          .col-12.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-1.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-2.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-7.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-3.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-5.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-6.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-8.jpg` alt='').rounded.img-fluid
      .col-lg-4
        .sticky-top.py-6.py-lg-8
          h2.fw-normal €9500.00&nbsp;
          h6.mt-4 Detailles
          p.text-body-secondary Buffet rare modèle "OS 28" conçu par Arne Vodder. Fabriqué au Danemark par Sibast Møbler dans les années 1950 (conçu en 1953). Fabriqué en teck avec du chêne massif dans la base des pieds et du rotin contrastant dans la porte latérale. Bois teinté noir sur le dessus s'ouvrant sur un cabinet de bar intégré. Très bon état vintage avec des traces légères liées à l'âge et une patine.
          h6.mt-4 Designer
          a(href=`https://fr.wikipedia.org/wiki/Arne_Vodder`).p Arne Vodder
          h6.mt-4 Etat
          p.text-body-secondary Bon. aux portes 'tambours' et le tourne-disque d'origine
          h6.mt-4 Example
          a(href=`https://www.1stdibs.com/furniture/storage-case-pieces/sideboards/os-28-sideboard-arne-vodder-sibast-mbler-denmark-1950s/id-f_14881732/`) 1stDibs
          h6.mt-4 Contact
          a(mailto=`damianicely@gmail.com`).p.text-body-secondary damianicely@gmail.com
