mixin SingleProductDemo
  +Section.py-6#page-single-product
    .row
      .col-lg-8.pe-lg-6
        .row
          .col-12
            nav(aria-label="breadcrumb")
              ol.breadcrumb.font-secondary.py-2.my-1
                li.breadcrumb-item
                  a(href=`${CWD}index.html`) Accueil
                li.breadcrumb-item.active(aria-current='page') tables-appoint

            h1.fs-6.mb-2 Tables d'Appoint | Kurt Østervig
          .col-12.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-56.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-57.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-58.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-59.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-60.jpg` alt='').rounded.img-fluid
      .col-lg-4
        .sticky-top.py-6.py-lg-8
          h2.fw-normal €2500.00&nbsp;
          h6.mt-4 Detailles
          p.text-body-secondary Présentation d'un ensemble rare et limité de deux (2) tables d'appoint à deux niveaux en teck par Kurt Østervig pour Jason Møbler, fabriquées dans les années 1960 au Danemark. Ces tables emblématiques sont réalisées à partir d'un mélange de teck birman massif et plaqué, mettant en valeur la beauté naturelle du grain du bois et sa coloration unique. Les supports verticaux incurvés et les lignes minimalistes caractéristiquement épurées ajoutent une touche d'élégance au design, tandis que les pieds fuselés apportent une sensation de légèreté et d'aération. La polyvalence de leur astucieux design à deux niveaux permet une utilisation comme tables de chevet ou tables d'appoint.
          h6.mt-4 Designer
          a(href=`https://en.wikipedia.org/wiki/Kurt_%C3%98stervig`).p Kurt Østervig
          h6.mt-4 Etat
          p.text-body-secondary Bon. Sans le support à magazines
          h6.mt-4 Quantité
          p.text-body-secondary 2
          h6.mt-4 Example
          a(href=`https://www.1stdibs.com/en-gb/furniture/tables/side-tables/danish-modern-sculpted-teak-side-tables-kurt-stervig-jason-mbler/id-f_27069242/`).p 1stDibs
          h6.mt-4 Contact
          a(mailto=`medical.devis@gmail.com`).p.text-body-secondary medical.devis@gmail.com
