mixin SingleProductDemo
  +Section.py-6#page-single-product
    .row
      .col-lg-8.pe-lg-6
        .row
          .col-12
            nav(aria-label="breadcrumb")
              ol.breadcrumb.font-secondary.py-2.my-1
                li.breadcrumb-item
                  a(href=`${CWD}index.html`) Accueil
                li.breadcrumb-item.active(aria-current='page') chaises-ella

            h1.fs-6.mb-2 Chaises Ella
          .col-12.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-50.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-51.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-52.jpg` alt='').rounded.img-fluid
          .col-12.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-53.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-54.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-55.jpg` alt='').rounded.img-fluid
      .col-lg-4
        .sticky-top.py-6.py-lg-8
          h2.fw-normal €2500.00&nbsp;
          h6.mt-4 Detailles
          p.text-body-secondary Arne Vodder MCM Chaises de Salle à Manger en Teck Danois Réglables Ella - Ensemble de 6
          h6.mt-4 Designer
          a(href=`https://fr.wikipedia.org/wiki/Arne_Vodder`).p Arne Vodder
          h6.mt-4 Etat
          p.text-body-secondary Excellent, Retapissées
          h6.mt-4 Quantité
          p.text-body-secondary Ensemble de 6
          h6.mt-4 Contact
          a(mailto=`damianicely@gmail.com`).p.text-body-secondary damianicely@gmail.com
