mixin SingleProductDemo
  +Section.py-6#page-single-product
    .row
      .col-lg-8.pe-lg-6
        .row
          .col-12
            nav(aria-label="breadcrumb")
              ol.breadcrumb.font-secondary.py-2.my-1
                li.breadcrumb-item
                  a(href=`${CWD}index.html`) Accueil
                li.breadcrumb-item.active(aria-current='page') flying-wings-sofa

            h1.fs-6.mb-2 Très rare ensemble 'Flying wings' sofa (model 27),  et 2 fauteuils.
          .col-12.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-31.jpg` alt='').rounded.img-fluid
          .col-12.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-34.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-38.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-37.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-36.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-39.jpg` alt='').rounded.img-fluid
          .col-6.mt-4
            img(src=`${CWD}assets/img/scandi/lg-newton-40.jpg` alt='').rounded.img-fluid

      .col-lg-4
        .sticky-top.py-6.py-lg-8
          h2.fw-normal €10000.00&nbsp;
          h6.mt-4 Detailles
          p.text-body-secondary Rare canapé moderne danois (structure) conçu par Arne Hovmand Olsen pour Mogens Kold. Dans son état d'origine. Conservant la finition d'origine, la patine montrant juste la bonne quantité d'usure cosmétique, légères égratignures et marques, etc. Chic, élégant, qualité et construction supérieures. Bras sculpturaux exagérément "aile volante". Vendu avec une paire rare de fauteuils lounge modernes danois conçus par Arne Hovmand Olsen pour Mogens Kold. Dans leur état d'origine. Conservant la finition d'origine, la patine montrant juste la bonne quantité d'usure cosmétique, légères égratignures et marques, etc. Chic, élégants, conservant également les coussins à ressorts d'origine, utilisables mais seraient fabuleux rembourrés, extrêmement confortables.
          h6.mt-4 Quantité
          p.text-body-secondary 2 + 1
          h6.mt-4 Designer
          a(href=`https://www.finnishdesignshop.com/en-us/designer/arne-hovmand-olsen`).p  Arne Hovmand Olsen
          h6.mt-4 Etat
          p.text-body-secondary Bon.
          h6.mt-4 Example
          a(href=`https://www.1stdibs.com/furniture/seating/sofas/seldom-seen-danish-sofa-designed-arne-hovmand-olsen-mogens-kold/id-f_21478402/?modal=intlWelcomeModal`).p.text-body-secondary Sofa
          a(href=`https://www.1stdibs.com/furniture/seating/lounge-chairs/pair-of-arne-hovmand-olsen-mogens-kold-lounge-chairs/id-f_21418052/?modal=intlWelcomeModal`).p.text-body-secondary Chaises

          h6.mt-4 Contact
          a(mailto=`damianicely@gmail.com`).p.text-body-secondary damianicely@gmail.com
